$colorW: white;
$colorB: black;
$light_grey: #989696;
$almost_black: #010101;
$dark_blue: #1d1e1f;
$grey: #898888;
$very_light_grey: #f0f0f0;
$very_light_darker_grey: #e0e0e0;
$very_light_more_darker_grey: #d0d0d0;
$almost_white: #fefefe;
$middle_grey: #b7b7b7;
$dark_grey: #464646;
$middle_var1_grey: #b3b3b3;
$light_grey_var1: #e4e4e4;
$grey_var1: #777777;
$dark_grey_var1: #383838;
$dark_grey_var2: #999999;
$dark_grey_var3: #3b3b3b;